.header {
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: white solid 4px;
    .content {
        display: flex;
        padding: 5px 0;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        .logoButton {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            flex-direction: row;
            .logo {
                width: 80px;
                height: auto;
            }
            .logoTextBlock {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-content: center;
                justify-content: center;
                .logoText1 {
                    color: white;
                    font-size: 24px;
                }
                .logoText2 {
                    color: rgb(255, 0, 0);
                    font-size: 24px;
                }
            }
        }
        .navs {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 20px;
            gap: 15px;
            .nav {
                color: white;
                text-decoration: none;
                cursor: pointer;
                padding: 10px 20px;
                text-align: center;
                transition: all 0.3s ease-in-out;
                box-shadow: 5px 5px 0 rgb(255, 0, 0);
                border: rgb(255, 255, 255) solid 3px;
                border-radius: 3px;
                font-size: 18px;
                font-weight: 500;
                &:hover {
                    background-color: #ff0000;
                    color: white;
                    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.5);
                    transform: translateY(-2px);
                }
            }
        }
        .profile {
            width: 40px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            height: auto;
            border-radius: 100%;
            &:hover {
                transform: translateY(-2px);
            }
        }
    }
}
