.Upload {
    background: black;
    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .title {
            padding: 30px 0 0 0;
            font-size: 55px;
            color: red;
        }
        .preview {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .previewTitle {
                color: red;
                font-size: 24px;
            }
            .previewBlock {
                padding: 20px;
                display: flex;
                flex-direction: row;
                gap: 20px;
                transition: all 0.3s ease-in-out;
                border: 2px solid white;
                box-shadow: 8px 8px 0 rgb(255, 0, 0);
                .image {
                    padding: 10px;
                    border: 2px solid white;
                    object-fit: cover;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .lessonName {
                        color: white;
                        font-size: 20px;
                    }
                    .lessonDesc {
                        color: gray;
                    }
                    .infoLastBlock {
                        display: flex;
                        flex-direction: row;
                        gap: 50px;
                        .lessonTheme {
                            color: gray;
                            font-size: 14px;
                        }
                        .lessonData {
                            color: gray;
                            font-size: 14px;
                        }
                    }
                }
            }
            .UploadBlock {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                transition: all 0.3s ease-in-out;
                border: 2px solid white;
                box-shadow: 8px 8px 0 rgb(255, 0, 0);
                .inputs {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 15px;
                    .inputBlock {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .inputTitle {
                            color: white;
                            font-size: 18px;
                        }
                        .input {
                            padding: 10px;
                            font-size: 25px;
                            color: white;
                            border: white 1px solid;
                            background: black;
                            transition: all 0.3s ease-in-out;
                            border: 2px solid white;
                            box-shadow: 5px 5px 0 rgb(255, 0, 0);
                        }
                    }
                }
                .inputBlock {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .inputTitle {
                        color: white;
                        font-size: 18px;
                    }
                    .input {
                        padding: 10px;
                        font-size: 25px;
                        color: white;
                        border: white 1px solid;
                        background: black;
                        transition: all 0.3s ease-in-out;
                        border: 2px solid white;
                        box-shadow: 5px 5px 0 rgb(255, 0, 0);
                    }
                }
                .descInput {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .inputTitle {
                        color: white;
                        font-size: 18px;
                    }
                    .input {
                        padding: 10px;
                        font-size: 25px;
                        color: white;
                        border: white 1px solid;
                        background: black;
                        transition: all 0.3s ease-in-out;
                        border: 2px solid white;
                        box-shadow: 5px 5px 0 rgb(255, 0, 0);
                    }
                }
                .load {
                    border: white 1px solid;
                    background: red;
                    color: white;
                    transition: all 0.3s ease-in-out;
                    border: 2px solid white;
                    padding: 10px;
                    font-size: 25px;
                    font-weight: 600;
                    box-shadow: 5px 5px 0 rgb(255, 0, 0);
                    &:hover {
                        background-color: #ff0000;
                        color: white;
                        box-shadow: 0 5px 15px rgba(255, 0, 0, 0.5);
                        transform: translateY(-2px);
                    }
                }
            }
        }
    }
}
